<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Productos</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/formulario-producto']">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="filtrarProductos($event)"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let producto of productosFiltrados" >
      <ion-label class="hola2" [routerLink]="['/formulario-producto', producto.id]">
        <h2>{{ producto.producto }}</h2>
        <p>Unidad: {{ producto.unidad }}</p>
      </ion-label>
      <ion-label class="hola" >
        <div class="button-container">
          <ion-button fill="clear" color="danger" (click)="eliminarProducto(producto.id)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-button>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>