// File: inicio.page.scss
ion-toolbar {
    --background: #d740e4; /* Color de fondo */
    --color: #ffffff; /* Color del texto */
}

ion-title {
    font-size: 20px; /* Tamaño de fuente */
    font-weight: bold; /* Texto en negrita */
}

ion-content {
    --background: #976390; /* Color de fondo */
    --padding-top: 20px; /* Padding superior */
    --padding-bottom: 20px; /* Padding inferior */
}

ion-list {
    background-color: #976390; /* Color de fondo del elemento */
    padding: 16px; /* Agrega un padding a la lista */
    border-radius: 2px; /* Bordes redondeados */
    margin: 0 16px; /* Márgenes para que no toque los bordes del contenedor */
}

ion-searchbar {
    --background: #E0E0E0; /* Fondo blanco para la barra de búsqueda */
    --color: #000000; /* Color del texto */
    --placeholder-color: #888888; /* Color del placeholder */
    --placeholder-font-style: italic; /* Estilo del texto del placeholder */
    --icon-color: #007bff; /* Color del icono de búsqueda */
  
    padding: 0px; /* Padding horizontal para el contenedor */
    margin-bottom: 20px; /* Margen inferior para separar de la lista */
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para los items */
}

ion-item {
    --color: #212121; /* Color del texto Material Design */
    --background: #F5F5F5; /* Color de fondo Material Design para cada item */
    margin-bottom: 10px; /* Margen inferior entre elementos */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Sombra para los items */
    margin: 3px ;
    margin-top: 10px;
  }

ion-item ion-label {
    font-weight: bold; /* Texto en negrita */
    display: block; /* Asegura que el contenido del label se muestre en bloque */
}

ion-item ion-label h2 {
    margin-bottom: 5px; /* Margen inferior para el título */
    color: #000000;
}

ion-item ion-label p {
    font-size: 14px; /* Tamaño de fuente para el texto secundario */
    color: #757575; /* Color de texto secundario Material Design */
}

.hola2 {
    display: flex; /* Añade flex al contenedor padre */
    justify-content: space-between; /* Distribuye el espacio entre los elementos */
    align-items: center; /* Alinea los elementos verticalmente en el centro */
  }
  
  .button-container {
    display: flex;
    justify-content: flex-end; /* Alinea los elementos a la derecha */
    gap: 10px; /* Espacio entre los botones */
  }
  
  .details-container {
    margin-top: 10px; /* Margen superior para separar los detalles de los botones */
    padding-left: 16px; /* Ajusta el padding según sea necesario */
  }
  
  .hola {
    justify-content: flex-end;
  }
